* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}
.rainbow {
  width: 500px;
  height: 250px;
  margin: 50px auto;
  overflow: hidden;
}
.rainbow div {
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}
.rainbow > div {
  width: 500px;
  height: 500px;
  background-color: hsl(0, 80%, 50%);
}
.rainbow > div > div {
  width: 470px;
  height: 470px;
  margin: 15px;
  background-color: hsl(50, 80%, 50%);
}
.rainbow > div > div > div {
  width: 440px;
  height: 440px;
  margin: 15px;
  background-color: hsl(80, 80%, 50%);
}
.rainbow > div > div > div > div {
  width: 410px;
  height: 410px;
  margin: 15px;
  background-color: hsl(150, 80%, 50%);
}
.rainbow > div > div > div > div > div {
  width: 380px;
  height: 380px;
  margin: 15px;
  background-color: hsl(200, 80%, 50%);
}
.rainbow > div > div > div > div > div > div {
  width: 350px;
  height: 350px;
  margin: 15px;
  background-color: hsl(250, 80%, 50%);
}
.rainbow > div > div > div > div > div > div > div {
  width: 320px;
  height: 320px;
  margin: 15px;
  background-color: hsl(300, 80%, 50%);
}
.rainbow > div > div > div > div > div > div > div > div {
  width: 290px;
  height: 290px;
  margin: 15px;
  background-color: #ffffff;
}
